*{margin: 0; padding: 0; box-sizing: border-box;}
ol, ul{list-style: none;}
a{text-decoration: none; color: black; outline: 0;}
img{border: 0;}
body{position: fixed; width: 100vw; height: 100vh; _display: flex;}
